<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      width="80"
      alt="Table Tennis Logo"
      src="https://thumbs.dreamstime.com/b/table-tennis-logo-design-concepts-sport-labels-vector-illustration-ping-pong-club-194783219.jpg"
    />
    <span>Table Tennis Championship 2022</span>
    <span class="spacer"></span>
    <div>
      <a mat-button class="navLink" routerLink="/"> Matches </a>
      <a mat-button class="navLink" routerLink="/leaderboard"> Leaderboard </a>
      <a mat-button class="navLink" routerLink="/add-match"> Add Match </a>
      <a mat-button class="navLink" routerLink="/create-player"> Create Player </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="content" role="main">
<router-outlet></router-outlet>
</div>
